In [23]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('./dados_sinteticos_com_erros_atualizado.csv')
df.head()

,id,data,hora,cliente,produto,valor_x,quantidade,total,status,cidade,...,cor,tamanho,peso,altura,largura,comprimento,categoria_y,valor_y,categoria,valor
0,1,2017-09-20,08:12:57,Filipe Cruz,Isotônico Coca-Cola,96.87,7,38.092982,em separação,Cidade,...,NaN,,83.75,12.89,35.11,56.99,bebidas,5.441855,bebidas,5.441855
1,2,2019-07-17,18:26:47,Daniel Silva,Lembrancinha Festa Box,92.21,7,123.142236,em trânsito,Cidade,...,NaN,,60.02,54.85,15.35,41.05,artigos para festas,17.591748,artigos para festas,17.591748
2,3,2018-01-20,15:55:07,Victor Silva,Convite Piffer,170.19,5,37.268889,cancelado,Cidade,...,NaN,,20.81,20.38,75.42,46.84,artigos para festas,7.453778,artigos para festas,7.453778
3,4,2016-06-21,11:36:07,Vanessa Rodrigues,Vinho Heineken,151.80,10,15.517708,entregue,Cidade,...,NaN,,44.59,4.68,32.67,91.61,bebidas,1.551771,bebidas,1.551771
4,5,2015-05-01,18:08:24,Luiz Bandeira,Chinelo Fila,82.24,7,326.226314,em separação,Cidade,...,amarelo,,92.52,57.52,33.77,49.21,calçados,46.603759,calçados,46.603759

In [24]:
df.isnull().sum()

id                  0
data                0
hora                0
cliente             0
produto             0
valor_x             0
quantidade          0
total               0
status              0
cidade              0
estado              0
pais                0
cep                 0
frete               0
pagamento           0
vendedor            0
categoria_x         0
marca               0
modelo              0
cor            160226
tamanho             0
peso                0
altura              0
largura             0
comprimento         0
categoria_y         0
valor_y             0
categoria           0
valor               0
dtype: int64

In [25]:
print(df[df.isnull().any(axis=1)])
df = df.dropna()

           id        data      hora            cliente  \
0           1  2017-09-20  08:12:57        Filipe Cruz
1           2  2019-07-17  18:26:47       Daniel Silva
2           3  2018-01-20  15:55:07       Victor Silva
3           4  2016-06-21  11:36:07  Vanessa Rodrigues
5           6  2015-09-23  14:54:22    Maycon Demarque
...       ...         ...       ...                ...
214306  50000  2018-04-27  17:47:14       Pedro Soares
214307  50000  2018-04-27  17:47:14       Pedro Soares
214308  50000  2018-04-27  17:47:14       Pedro Soares
214309  50000  2018-04-27  17:47:14       Pedro Soares
214310  50000  2018-04-27  17:47:14       Pedro Soares

                       produto  valor_x  quantidade       total        status  \
0          Isotônico Coca-Cola    96.87           7   38.092982  em separação
1       Lembrancinha Festa Box    92.21           7  123.142236   em trânsito
2               Convite Piffer   170.19           5   37.268889     cancelado
3               Vinho Heineken   151.80          10   15.517708      entregue
5        Decoração Magazine 25   154.96           1   20.486919     cancelado
...                        ...      ...         ...         ...           ...
214306       Raquete Olympikus   222.79           5  200.002781      entregue
214307       Raquete Olympikus   222.79           5  531.353100      entregue
214308       Raquete Olympikus   222.79           5  200.002781      entregue
214309       Raquete Olympikus   222.79           5  531.353100      entregue
214310       Raquete Olympikus   222.79           5  200.002781      entregue

        cidade  ...  cor tamanho   peso  altura largura comprimento  \
0       Cidade  ...  NaN          83.75   12.89   35.11       56.99
1       Cidade  ...  NaN          60.02   54.85   15.35       41.05
2       Cidade  ...  NaN          20.81   20.38   75.42       46.84
3       Cidade  ...  NaN          44.59    4.68   32.67       91.61
5       Cidade  ...  NaN          86.60   37.70   25.00       16.18
...        ...  ...  ...     ...    ...     ...     ...         ...
214306  Cidade  ...  NaN          50.71   93.06    0.26       66.74
214307  Cidade  ...  NaN          50.71   93.06    0.26       66.74
214308  Cidade  ...  NaN          50.71   93.06    0.26       66.74
214309  Cidade  ...  NaN          50.71   93.06    0.26       66.74
214310  Cidade  ...  NaN          50.71   93.06    0.26       66.74

                categoria_y     valor_y            categoria       valor
0                   bebidas    5.441855              bebidas    5.441855
1       artigos para festas   17.591748  artigos para festas   17.591748
2       artigos para festas    7.453778  artigos para festas    7.453778
3                   bebidas    1.551771              bebidas    1.551771
5       artigos para festas   20.486919  artigos para festas   20.486919
...                     ...         ...                  ...         ...
214306             esportes  106.270620                lazer   40.000556
214307                lazer   40.000556             esportes  106.270620
214308                lazer   40.000556             esportes   40.000556
214309                lazer   40.000556                lazer  106.270620
214310                lazer   40.000556                lazer   40.000556

[160226 rows x 29 columns]

In [26]:
df.isnull().sum()
df.head()

,id,data,hora,cliente,produto,valor_x,quantidade,total,status,cidade,...,cor,tamanho,peso,altura,largura,comprimento,categoria_y,valor_y,categoria,valor
4,5,2015-05-01,18:08:24,Luiz Bandeira,Chinelo Fila,82.24,7,326.226314,em separação,Cidade,...,amarelo,,92.52,57.52,33.77,49.21,calçados,46.603759,calçados,46.603759
7,8,2017-06-04,19:48:51,Gustavo Soares,Impressora LG,28.64,5,823.014866,aguardando pagamento,Cidade,...,verde,,43.14,76.33,12.34,47.92,informática,164.602973,informática,164.602973
8,8,2017-06-04,19:48:51,Gustavo Soares,Impressora LG,28.64,5,1002.198284,aguardando pagamento,Cidade,...,verde,,43.14,76.33,12.34,47.92,informática,164.602973,informática,200.439657
9,8,2017-06-04,19:48:51,Gustavo Soares,Impressora LG,28.64,5,823.014866,aguardando pagamento,Cidade,...,verde,,43.14,76.33,12.34,47.92,informática,164.602973,eletrônicos,164.602973
10,8,2017-06-04,19:48:51,Gustavo Soares,Impressora LG,28.64,5,1002.198284,aguardando pagamento,Cidade,...,verde,,43.14,76.33,12.34,47.92,informática,164.602973,eletrônicos,200.439657

In [27]:
df = df.drop(columns=['valor_y','valor','valor_x'])
df['Valor Final'] = df['total'] / df['quantidade']

In [29]:
df.head(10)

,id,data,hora,cliente,produto,quantidade,total,status,cidade,estado,...,modelo,cor,tamanho,peso,altura,largura,comprimento,categoria_y,categoria,Valor Final
4,5,2015-05-01,18:08:24,Luiz Bandeira,Chinelo Fila,7,326.226314,em separação,Cidade,BA,...,Chinelo,amarelo,,92.52,57.52,33.77,49.21,calçados,calçados,46.603759
7,8,2017-06-04,19:48:51,Gustavo Soares,Impressora LG,5,823.014866,aguardando pagamento,Cidade,RO,...,Impressora,verde,,43.14,76.33,12.34,47.92,informática,informática,164.602973
8,8,2017-06-04,19:48:51,Gustavo Soares,Impressora LG,5,1002.198284,aguardando pagamento,Cidade,RO,...,Impressora,verde,,43.14,76.33,12.34,47.92,informática,informática,200.439657
9,8,2017-06-04,19:48:51,Gustavo Soares,Impressora LG,5,823.014866,aguardando pagamento,Cidade,RO,...,Impressora,verde,,43.14,76.33,12.34,47.92,informática,eletrônicos,164.602973
10,8,2017-06-04,19:48:51,Gustavo Soares,Impressora LG,5,1002.198284,aguardando pagamento,Cidade,RO,...,Impressora,verde,,43.14,76.33,12.34,47.92,informática,eletrônicos,200.439657
11,8,2017-06-04,19:48:51,Gustavo Soares,Impressora LG,5,823.014866,aguardando pagamento,Cidade,RO,...,Impressora,verde,,43.14,76.33,12.34,47.92,eletrônicos,informática,164.602973
12,8,2017-06-04,19:48:51,Gustavo Soares,Impressora LG,5,1002.198284,aguardando pagamento,Cidade,RO,...,Impressora,verde,,43.14,76.33,12.34,47.92,eletrônicos,informática,200.439657
13,8,2017-06-04,19:48:51,Gustavo Soares,Impressora LG,5,823.014866,aguardando pagamento,Cidade,RO,...,Impressora,verde,,43.14,76.33,12.34,47.92,eletrônicos,eletrônicos,164.602973
14,8,2017-06-04,19:48:51,Gustavo Soares,Impressora LG,5,1002.198284,aguardando pagamento,Cidade,RO,...,Impressora,verde,,43.14,76.33,12.34,47.92,eletrônicos,eletrônicos,200.439657
24,11,2016-02-10,20:00:19,Alyson Lima,Colar Puma,10,147.217298,em separação,Cidade,RJ,...,Colar,prata,,97.39,59.73,41.17,72.19,acessórios,acessórios,14.721730