In [19]:
import pandas as pd
# Define os nomes das colunas e as larguras de cada campo
colspecs = [(2, 10), (10, 22), (56, 69), (82, 95)]
names = ['Data', 'Codigo', 'Preco_Abertura', 'Preco_Fechamento']

# Carrega o arquivo
df_2022 = pd.read_fwf('COTAHIST_A2022.TXT', colspecs=colspecs, names=names, header=None)
df_2023 = pd.read_fwf('COTAHIST_A2023.TXT', colspecs=colspecs, names=names, header=None)
df_2024 = pd.read_fwf('COTAHIST_A2024.TXT', colspecs=colspecs, names=names, header=None)

In [20]:

df_2022.head(100)

        Data        Codigo  Preco_Abertura  Preco_Fechamento
0   COTAHIST  .2022BOVESPA             NaN               NaN
1   20220103       02GNDI3          5970.0            5727.0
2   20220103       02ABEV3          1542.0            1515.0
3   20220103      02MODL11          1080.0            1071.0
4   20220103       02TASA4          2500.0            2428.0
..       ...           ...             ...               ...
95  20220218      12VSLH11           949.0             948.0
96  20220218      12GCRI11          9795.0            9770.0
97  20220218     12PRSN11B           158.0             143.0
98  20220218      12ONEF11         14997.0           14997.0
99  20220218      12VGHF11          1014.0            1013.0

[100 rows x 4 columns]

In [21]:
df_2023.head()

       Data        Codigo  Preco_Abertura  Preco_Fechamento
0  COTAHIST  .2023BOVESPA             NaN               NaN
1  20230102       02NEOE3          1540.0            1498.0
2  20230102       02NEXP3            31.0              29.0
3  20230102       02NGRD3           148.0             143.0
4  20230102       02NINJ3           270.0             269.0

In [22]:
df_2024.head(10)

       Data        Codigo  Preco_Abertura  Preco_Fechamento
0  COTAHIST  .2024BOVESPA             NaN               NaN
1  20240102       02AALR3          1020.0             850.0
2  20240102       02ABCB4          2398.0            2279.0
3  20240102       02ABEV3          1372.0            1359.0
4  20240102       02BBDC3          1526.0            1498.0

In [24]:
df_2022e2023 = pd.merge(df_2022, df_2023)
df_2022e2023.head()

Empty DataFrame
Columns: [Data, Codigo, Preco_Abertura, Preco_Fechamento]
Index: []